@font-face {
    font-family:'Raleway';
    src: url(/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf) format('truetype');
}

/* 1 */
body {
    background-image: url("../images/fon.jpeg") ;
    font-family: 'Raleway', Arial, sans-serif ;
}

/* 10 */
.wrapper {
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
}

/* 10 */
.header__logo {
    display: block;
    background: url("../images/pngwing.png") no-repeat center ;
    width: 215px;
    height: 103px;
    position: absolute;
}

/* 10 */
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 70%;
    margin-left: 15%;
    top: 50px;
}

/* 10 */
.header__menu-item, a {
    text-decoration: none;
    color: #0a60c2;
    font-weight: 700;
    font-size: 1.5rem;
}

/* 10 */
.sub {
    position: relative;
}

/* 30 */
.sub:hover .submenu {
    display: flex;
    flex-direction: column;
}

/* 10 */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    white-space: nowrap;
}

/* 10 */
.header__county-title {
    position: absolute;
    color: #ffffff;
    top: 200px;
    left: 400px;
    font-size: 2.5rem;
}

/* 10 */
.header__county-picture {
    width: 80%;
    margin: 7% 0 0 10%;
}

/* 10 */
.main__country-title, .main__about-country-title {
    font-size: 2rem;
    margin: 2% 0 1% 10%;
}

/* 10 */
.main__country-picture {
    display: block;
    margin: auto;
}

/* 10 */
.main__picture-right {
    float: right;
    width: 25%;
    padding-left: 1%;
}

/* 10 */
.main__picture-left {
    float: left;
    width: 25%;
    padding-right: 1%;
}

/* 10 */
.main__about-country-text {
    width: 80%;
    margin: 2% 0 0 10%;
    font-size: 1.4rem;
    opacity: 0.7;
    line-height: 1.25;
}

/* 10 */
.main__ask-btn {
    display: block;
    font-size: 1.1rem;
    margin: 2% 0 0 10%;
    width: 15%;
    height: 40px;
    background-color: #0a60c2;
    color: #ffffff;
    border-radius: 8px;
    transition: all 1s;
}

/* 20 */
.main__ask-btn:hover {
    background-color: rgb(49, 228, 64);
    color: #0a60c2;
}

/* 10 */
.main__yakir {
    width: 3%;
    position: fixed;
    height: 5%;
    right: 12%;
    top: 78%;
    z-index: 999;
}

/* 10 */
.main__yakir-picture {
    width: 100%;
    z-index: 999;
}

/* 10 */
.footer__menu-title, span {
    color: #0a60c2;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-top: 2%;
}

/* 1 */
span {
    background-color: #ffffff;
    margin-left: 5%;
}

/* 11 */
.footer__menu-title::before {
    content: " ";
    display: block;
    background: #0a60c2;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    top: 9px;
}

/* 10 */
.footer__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-left: 15%;
}

/* 10 */
.footer__menu-item {
    margin: 2% 0;
}

/* 10 */
.conteiner {
    width: 40%;
    background-color: white;
    border-radius: 8px;
    margin:auto;
    margin-top: 10%;
    padding: 0.5%;
}

/* 10 */
.main__heading {
    padding: 1% 0 2% 3%;
    border-bottom: 2px solid #0a60c2;
    font-size: 1.5rem;
    font-weight: bold;
    color: #0a60c2;
}

/* 10 */
.main__form-row {
    display: flex;
    margin-bottom: 1%;
}

/* 1 */
input, select {
    height: 40px;
    padding: 0 1.5%;
    border-radius: 5px;
    border: 1px solid #0a60c2;
}

/* 100 */
#main__tourist-name, #main__tourist-email, #main_tourist-phone, #main__tourist-country, #main__tourist-days, #main__tourist-adults, #main__tourist-child {
    width: 50%;
    margin: 1% 2%;
}

/* 1 */
label {
    padding: 1% 12%;
}

/* 100 */
#main__tourist-departure, #main__tourist-arrive {
    width: 100%;
    padding: 5%;
}

/* 100 */
#main__tourist-wish {
    width: 100%;
    resize: none;
    padding: 10px 15px;
}

/* 10 */
.main__submit {
    border-color: transparent;
    background: #76e72b;
    color: #ffffff;
    text-transform: uppercase;
    width: 25%;
    margin: 1% 0 0 25%;
    display: block;
}

/* 10 */
.main__link {
    font-size: 1rem;
    padding-top: 4%;
}

/* 20 */
.main__link:hover {
    text-decoration: underline;
    font-size: 1.1rem;
    font-weight: bold;
    color: #063d91;
}